.navbar-nav a{
    color: #fcf3ee;
    text-decoration: none;
    font-size: 18px;
}

.navbar-nav a:hover {
    color: #ffc2ad;
}

.navbar-custom {
    background-color: #307371;
}

.navbar-nav .dropdown-menu a {
    color: #307371;
}

.navbar-nav .dropdown-menu a:hover {
    background-color: #fcf3ee;;
}
