html{
    height: 100%;
}
body{
    height: 100%;
}

a.footer-link{
    color: #fcf3ee;
    text-decoration: none;
    font-size: 18px;
}
a.footer-link:hover {
    color: #ffc2ad;
    text-decoration: underline;
}

div.container\ col-12\ my-5{
    margin:0;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

.about_image{
    padding-left:30%;
    padding-right:30%;
} 

.about-us-card{
    margin:auto;
    padding-top: 5%;
    font-size: 1.4em;
} 

.about-us-title{
    padding-top: 2%;
    /*padding-bottom: 2%;*/
    font-size: 1.4em;
} 

.about-rounded{
    border-radius: 2%;
} 
