.nav-link {
    color: #fcf3ee;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}
.navbar-nav a:hover {
    color: #ffc2ad;
    text-decoration: underline;
}

.navbar-custom {
    background-color: #307371;
}

.navbar-nav .dropdown-menu a {
    color: #307371;
}

.navbar-nav .dropdown-menu a:hover {
    background-color: #fcf3ee;;
}

.navbar-custom {
    border: 0;
    margin: 0;
    background-color: #0c1d1c;
    -webkit-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
  }

