

a.footer-link{
    color: #fcf3ee;
    text-decoration: none;
    font-size: 18px;
}
a.footer-link:hover {
    color: #ffc2ad;
    text-decoration: underline;
}

div.container\ col-12\ my-5{
    margin:0;
}

.card-body\ about-us{
    padding-left: 5%;
}

.about_image{
    padding-left:30%;
    padding-right:30%;
} 

.about-us-card{
    margin:auto;
    padding-top: 2%;
    padding-bottom: 1%;
    font-size: 1.4em;
} 

.about-us-title{
    font-weight: bolder;
    padding-top: 2%;
    /*padding-bottom: 2%;*/
    font-size: 1.4em;
} 

.about-rounded{
    border-radius: 2%;
}




/* FAQ */
summary.text-center{
    list-style: none;
}
summary.text-center::-webkit-details-marker {
    display: none
}
summary.text-center:before {
    content: ' ►';
    float: left;
    margin-right: 10px;
}
   
details[open] summary.text-center:before {
    content: " ▼";
}

.faq-card{
    margin:auto;
    padding-top: 2%;
    font-size: 1.4em;
} 

.faq-rounded{
    border-radius: 2%;
} 

.faq-title{
    font-weight: bold;
    padding-top:2%;
    /*padding-bottom: 2%;*/
    font-size: 1.4em;
} 

.faq-questions{
    padding-left:30%;
    padding-right:30%;
    /*padding-top: 1%;*/
} 

.question{
    width: 100%;
}

.question-col{
    width: 100%;
}

.question-button{
    background-color: rgba(0,0,0,0);
    border-style: none;
    width: 100%;
}
.question > details{
    width: 50%;
    /*background-color: #fcf3ee;*//*#307371;*/
    border-radius: 2%;
}

details > p {
    background-color:#fcf3ee;
    padding: 1em;
    margin: 0;
    box-shadow: 1px 1px 2px #bbbbbb;
}

summary{
    background-color:#fcf3ee;
    padding:10px;
    border-radius: 2%;
}
summary:hover{
    background-color: #ffc2ad;;
}
.question-button:hover{
    background-color: #ffc2ad;
}

.question-button:focus{
    background-color:#ffc2ad;
}


/*  SUPPORT*/

.support-title{
    padding-top: 2%;
    font-weight: bold;
}

#support-text{
    background-color: #fcf3ee;
}

.support-form{
    width: fit-content;
    background-color: #fcf3ee;
}

.support-form{
    width: auto;
    background-color: #fcf3ee;
}

.support-form:focus{
    background-color: #fcf3ee;
}

.support-card{
    margin:auto;
    padding-top: 5%;
    font-size: 1.4em;
} 

.rate-col{
    width: 100%;
    padding-left: 25%;
}

.form-check-input{
    width: 1.4em;
    height: 1.4em;
    background-image: url("../images/sad_1.png");
}

.form-check-input:focus {
    box-shadow: none;
}

/* ROLE MANAGER */

.search-bar{
    width: 100%;
    display: inline;
    margin: 0 auto;

}

.search-bar input:focus{
    box-shadow: none;
    outline:none;
    border:none;
}
.search-bar input{
    font-size: 100%;
    text-align: center;
    box-shadow: none;
    outline:none;
    border:none;
}

.role-manager-detail summary{
    width: 100%;
    display:block;
}


.role-manager-detail p:hover{
    background-color: #ffc2ad;
}

/*POST DASHBOARD*/


.pdash-title{
    font-weight: bold;
    padding-top: 2%;
    /*padding-bottom: 2%;*/
    font-size: 1.4em;
} 
.sub-cont{
    padding-left: 5%;
}



