.nav-link {
    color: #fcf3ee;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}
.navbar-nav a:hover {
    color: #ffc2ad;
    text-decoration: underline;
}

.navbar-custom {
    background-color: #307371;
}

.navbar-nav .dropdown-menu a {
    color: #307371;
}

.navbar-nav .dropdown-menu a:hover {
    background-color: #fcf3ee;;
}

.navbar-custom {
    border: 0;
    margin: 0;
    background-color: #0c1d1c;
    -webkit-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
  }

.card-profile{
    background-color: #8ab5b1; 
}


.bio{
    font-size:18px;
}
.profile-features{
    width:20%;
    background-color:#0c1d1c;
    margin:0;
    color:white;
    border-color: #fcf3ee;
}


.social-media{
    width:20%;
    background-color:#0c1d1c;
    margin-right:1%;
    border-color:white;
}

.statistics-profile{
    font-weight:500; 
    font-size:18px;
}
.profile-name{
    font-weight:500; 
    font-size:24px;
}
.profile-username{
    font-weight:500; 
    font-size:20px;
}

.profile-avatar{
    border:2px solid #307371; 
    transform: translateY(30%);
    transform-style: preserve-3d;
    z-index: 2;
    position: relative;
}

.corner-icons{
    z-index: 1; 
    width:auto; 
    color:#0c1d1c; 
    margin-right:-4%;

}

.social-media:hover,  .profile-features:hover{
    background-color: #ffc2ad;
    cursor: pointer;
}
.corner-icons:hover{
    color: #fcf3ee;
}