.homepage-view .nav-link {
    color:black;
}

.homepage-view .nav-link {
    color: rgba(0, 0, 0, 0.534);
}

.homepage-view .nav-link:hover {
    color: black;
}

.homepage-view .nav-link img {
    vertical-align: middle;
    margin-bottom: 0.5em;
    padding-right: 0.5em;
}

.homepage-view .nav-link.active {
    font-weight: bold;
    color: black;
}

.homepage-center #topNews .card {
    max-height: fit-content;
    background-color:#fcf3ee;
    cursor: pointer;
}

.homepage #authorName {
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    color: #307371;
}

.homepage #authorName:hover {
    color: #ffc2ad;
}


@media only screen and (max-width: 1024px) {
    .homepage-view, .homepage-filter {
        display: none;
    } 
    .homepage {
        margin: 0;
        padding: 0;
    }

    

}